version: 1.0.{build}
image: Visual Studio 2017
configuration: Release
clone_depth: 1

install:
- pwsh: >-
    $urlCurrent = "https://download.visualstudio.microsoft.com/download/pr/41e4c58f-3ac9-43f6-84b6-f57d2135331a/3691b61f15f1f5f844d687e542c4dc72/dotnet-sdk-3.0.100-preview7-012821-win-x64.zip"

    $env:DOTNET_INSTALL_DIR = "$env:LocalAppData\.dotnetsdk"

    mkdir $env:DOTNET_INSTALL_DIR -Force | Out-Null

    $tempFileCurrent = [System.IO.Path]::GetTempFileName()

    (New-Object System.Net.WebClient).DownloadFile($urlCurrent, $tempFileCurrent)

    Add-Type -AssemblyName System.IO.Compression.FileSystem; [System.IO.Compression.ZipFile]::ExtractToDirectory($tempFileCurrent, $env:DOTNET_INSTALL_DIR)

    $env:Path = "$env:DOTNET_INSTALL_DIR;$env:Path"

cache:
  - '%LocalAppData%\NuGet\v3-cache'
  - '%USERPROFILE%\.m2'

before_build:
    - ps: (get-content Main.qml) | %{$_ -replace '// import appmodel 1.0', 'import appmodel 1.0'} | set-content Main.qml
    
    - cmd: >-
        git clone --depth 1 --shallow-submodules https://github.com/health-validator/org.hl7.fhir.core

        cd org.hl7.fhir.core

        mvn package -Dmaven.test.skip=true --projects org.hl7.fhir.validation.cli

        move C:\projects\hammer\org.hl7.fhir.core\org.hl7.fhir.validation.cli\target\org.hl7.fhir.validation.cli*.jar %APPVEYOR_BUILD_FOLDER%\org.hl7.fhir.validator.jar

        cd %APPVEYOR_BUILD_FOLDER%

        java -jar org.hl7.fhir.validator.jar

build_script:
- cmd: >-
    set PATH=%LocalAppData%\.dotnetsdk;%PATH%

    dotnet --version

    dotnet publish --configuration Release --self-contained --runtime win-x64 /p:PublishTrimmed=true /p:OutputType=WinExe /p:TargetFramework=netcoreapp3.0

artifacts:
- path: bin\Release\netcoreapp3.0\win-x64\publish
  name: Hammer
