language: csharp
dist: xenial
mono: none
dotnet: 2.2

addons:
  apt:
    packages:
    - tree
    - maven

install:
 - git clone --depth 1 --shallow-submodules https://github.com/health-validator/org.hl7.fhir.core
 - cd org.hl7.fhir.core
 - git rev-parse HEAD
 - mvn package -Dmaven.test.skip=true --projects org.hl7.fhir.validation.cli
 - mv /home/travis/build/health-validator/Hammer/org.hl7.fhir.core/org.hl7.fhir.validation.cli/target/org.hl7.fhir.validation.cli-3.8.9-SNAPSHOT.jar $TRAVIS_BUILD_DIR/org.hl7.fhir.validator.jar

script:
 - cd $TRAVIS_BUILD_DIR
 - java -jar org.hl7.fhir.validator.jar
 - sed -i 's|// import appmodel 1.0|import appmodel 1.0|g' Main.qml
 - dotnet publish --configuration Release

after_success:
 - cd bin/Release/netcoreapp2.2
 - mv publish Hammer
 - tree .
 - mv Hammer/assets/run-hammer.sh Hammer/run-hammer.sh
 - mv Hammer/assets/run-hammer.bat Hammer/run-hammer.bat
 - rm -rf Hammer/assets
 - zip -r Hammer.zip Hammer
 - mkdir deploy/
 - cp Hammer.zip deploy/
 - DEPLOY_URL=$(curl --upload-file ./Hammer.zip https://transfer.sh/Hammer.zip)
 - echo -e "Zip is available for download at $DEPLOY_URL"

deploy:
  provider: pages
  repo: health-validator/latest
  target_branch: master
  local_dir: bin/Release/netcoreapp2.2/deploy
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: false
  verbose: true
  on:
    branch: master

cache:
  directories:
  - $HOME/.m2
